# Abaikan file audio hasil generate
*.mp3

# Kecualikan file template penting (opsional)
!intro.mp3
!bell.mp3
!outro.mp3

# Folder hasil export
Hasil/
Hasil_transkrip/

# Cache Python
__pycache__/
*.pyc

# File sistem macOS
.DS_Store

# Editor config & backup
*.swp
*.bak

# VSCode folder & workspace
.vscode/
*.code-workspace

# File log & sementara
*.log
*.tmp
